######Новоград######
map = /Maps/Kania_AL1/MapResource.xdb
zone = /Maps/Kania_AL1/Zones/ArchipelagoLeague1/ArchipelagoLeague1.xdb

map = /Maps/Kania/MapResource.xdb
map = /Maps/Kania_AL2/MapResource.xdb
map = /Maps/Kania_AL3/MapResource.xdb

zone = /Maps/Kania/Zones/ZoneLeague1/ZL1_0Capital.(ZoneResource).xdb
zone = /Maps/Kania/Zones/ZoneLeague1/ZoneLeague1.(ZoneResource).xdb
zone = /Maps/Kania/Zones/ZoneLeague2/ZoneLeague2.xdb
zone = /Maps/Kania/Zones/ZoneLeague3/ZoneLeague3.xdb

# лига ангар
map = /Maps/AstralHangarLeague/MapResource.xdb
map = /Maps/AstralHangarLeague_VIP/MapResource.xdb
#map = /Maps/AstralHangarHadagan/MapResource.xdb
#map = /Maps/AstralHangarHadagan_VIP/MapResource.xdb

# виварий
map = /Maps/HuntingGround1/MapResource.xdb
map = /Maps/HuntingGround2/MapResource.xdb
map = /Maps/HuntingGround3/MapResource.xdb
map = /Maps/HuntingGround4/MapResource.xdb
map = /Maps/HuntingGround5/MapResource.xdb
map = /Maps/HuntingGround6/MapResource.xdb
map = /Maps/HuntingGround7/MapResource.xdb
map = /Maps/HuntingGround8/MapResource.xdb

#### оспариваемые зоны (сс, эльджун и тп)
map = /Maps/2ndCircle/MapResource.xdb
zone = /Maps/2ndCircle/Zones/ZoneContested1/ZoneContested1.(ZoneResource).xdb
zone = /Maps/2ndCircle/Zones/ZoneContested2/ZoneContested2.(ZoneResource).xdb
zone = /Maps/2ndCircle/Zones/ZoneContested3/ZoneContested3.(ZoneResource).xdb
#Святая земля - Кольцо Дракона - Хладберг - Авилон - Кольцо Дракона
map = /Maps/2ndCircle_AC1/MapResource.xdb
map = /Maps/2ndCircle_AC2/MapResource.xdb
map = /Maps/2ndCircle_AC3/MapResource.xdb
map = /Maps/2nd_Circle_Ship/MapResource.xdb
#Дальний астрал
map = /Maps/HaloIsle/MapResource.xdb
#Царство Природы
map = /Maps/PetRealm/MapResource.xdb
#Далёкий астрал
map = /Maps/AstralIsleBoss/MapResource.xdb
map = /Maps/ArchipelagoGipatsShard/MapResource.xdb
map = /Maps/ArchipelagoGipatsShard/cave_MapResource.xdb
map = /Maps/Inst_GipatCave/MapResource.xdb
map = /Maps/ZC4_Cave/MapResource.xdb
map = /Maps/ZC4_Isle01/MapResource.xdb
map = /Maps/ZC4_Isle02/MapResource.xdb
map = /Maps/ZoneContested4/MapResource.xdb
map = /Maps/ZoneContested4/mole_MapResource.xdb
# тающий остров (ТО)
map = /Maps/ZoneContested5/MapResource.xdb
#
map = /Maps/ArchipelagoContested4/MapResource.xdb
map = /Maps/ArchipelagoContested5/MapResource.xdb
map = /Maps/ArchipelagoContested6/MapResource.xdb
map = /Maps/ArchipelagoContested6/ship_MapResource.xdb 
map = /Maps/ArchipelagoContested7/Isle_MapResource.xdb
map = /Maps/ArchipelagoContested7/Cave_MapResource.xdb
map = /Maps/ArchipelagoContested7/MapResource.xdb
map = /Maps/ArchipelagoContested8/MapResource.xdb
map = /Maps/ArchipelagoContested8_inst/MapResource.xdb
map = /Maps/ArchipelagoContested9/MapResource.xdb
map = /Maps/ArchipelagoContested9/Bosses_MapResource.xdb
map = /Maps/ArchipelagoContested9_Tep_Island/MapResource.xdb
map = /Maps/ArchipelagoContested9_build_instance/first_MapResource.xdb

# Царство стихий (ЦС)
map = /Maps/ElementalPlateu/MapResource.xdb
map = /Maps/Inst_HeroesArena/MapResource.xdb

# летний атол
map = /Maps/Tropical_Atoll/MapResource.xdb

# бгшки
map = /Maps/Domination/MapResource.xdb
map = /Maps/Domination02/MapResource.xdb
map = /Maps/Domination03/MapResource.xdb
map = /Maps/Domination04/MapResource.xdb
map = /Maps/Domination04/HPD_MapResource.xdb
map = /Maps/Domination04/MOD_MapResource.xdb
map = /Maps/MM_Pvp_Arena/MapResource.xdb
map = /Maps/PvPArena01/MapResource.xdb
map = /Maps/PvPArena02/MapResource.xdb
map = /Maps/PvPArena03/MapResource.xdb
# катакомбы джунов
map = /Maps/Maze_KHD/MapResource.xdb

# инсты
# мг (мертвый город инст)
map = /Maps/Inst_DeadCity/MapResource.xdb
# тка рика
map = /Maps/Inst_TkaRika/NonScale_MapResource.xdb
map = /Maps/Inst_TkaRika/Scale_MapResource.xdb
# пт (пирамида тепа)
map = /Maps/Inst_TepPyramid/MapResource.xdb
# Город Демонов
map = /Maps/Inst_GurluhsorTower/MapResource.xdb
#
map = /Maps/Inst_PlagueCastle/MapResource.xdb
map = /Maps/Inst_SecretLab/MapResource.xdb
map = /Maps/Inst_miniTenzisTemple_League/MapResource.xdb
map = /Maps/Inst_miniTenzisTemple_Empire/MapResource.xdb
#Храм Тенсеса
map = /Maps/Inst_TenzisTemple/MapResource.xdb
#
map = /Maps/AstralOutpostHadagan/MapResource.xdb
map = /Maps/AstralOutpostKania/MapResource.xdb
map = /Maps/PlayerIsle_Observation/MapResource.xdb
map = /Maps/SettingSelectZone/MapResource.xdb
#
#личный аллод
map = /Maps/PlayersAllod01/MapResource.xdb
map = /Maps/PlayersAllod02/MapResource.xdb
map = /Maps/PlayersAllod03/MapResource.xdb
map = /Maps/PlayerIsle_Dungeon/MapResource.xdb
map = /Maps/PlayerIsle_Dungeon/Pillage_MapResource.xdb
map = /Maps/SummerBoss/MapResource.xdb
map = /Maps/2ndCircle_Goblinoball_New/MapResource.xdb
map = /Maps/IllusionWorld_Inst/MapResource.xdb
map = /Maps/IllusionWorld/MapResource.xdb

# ирдрих (Осколки Ирдриха)
map = /Maps/RealWorld/MapResource.xdb
map = /Maps/RealWorld/WhiteRoom_MapResource.xdb
map = /Maps/RealWorld/Tower_MapResource.xdb
map = /Maps/ZoneContested6_inst/MapResource.xdb
map = /Maps/ZoneContested6_inst/Epyramid_MapResource.xdb
map = /Maps/ZoneContested6_inst/Lpyramid_MapResource.xdb

# Стылый пик
map = /Maps/MW_Isle01/MapResource.xdb
map = /Maps/MW_Isle02/MapResource.xdb
map = /Maps/MW_Isle03/MapResource.xdb 
map = /Maps/MW_Isle04/MapResource.xdb
map = /Maps/MW_Isle05/MapResource.xdb
map = /Maps/MW_Isle06/MapResource.xdb
map = /Maps/MW_RaidIsle01/MapResource.xdb

# умоир
map = /Maps/Umoir/MapResource.xdb
map = /Maps/UmoirIsland01/MapResource.xdb
map = /Maps/UmoirIsland02/MapResource.xdb
map = /Maps/UmoirIsland03/MapResource.xdb
map = /Maps/UmoirIsland04/MapResource.xdb
map = /Maps/UmoirIsland05/MapResource.xdb
map = /Maps/UmoirIsland06/MapResource.xdb
map = /Maps/UmoirIsland07/MapResource.xdb
map = /Maps/UmoirIsland08/MapResource.xdb
map = /Maps/Umoir/City_MapResource.xdb
map = /Maps/Umoir/Port_MapResource.xdb
map = /Maps/Umoir/Inst_MapResource.xdb
map = /Maps/Umoir/FinalInst_MapResource.xdb
map = /Maps/Umoir/SmeyanaInst_MapResource.xdb
map = /Maps/UmoirRaid/MapResource.xdb
map = /Maps/UmoirMound/MapResource.xdb
map = /Maps/UmoirMound/plot_MapResource.xdb
map = /Maps/LastStand/MapResource.xdb
# феррис
map = /Maps/Ferris/MapResource.xdb
map = /Maps/Ferris_inst/MapResource.xdb
map = /Maps/Ferris_inst/Lake_MapResource.xdb
map = /Maps/Ferris_inst/Wormcave_MapResource.xdb
map = /Maps/Ferris_intro/MapResource.xdb
map = /Maps/Ferris_indoor/MapResource.xdb
map = /Maps/Ferris_indoor/inst_MapResource.(MapResource).xdb
map = /Maps/Ferris_indoor/1stWing_MapResource.xdb
map = /Maps/Ferris_indoor/2ndWing_MapResource.xdb
map = /Maps/Ferris4/MapResource.xdb
map = /Maps/Ferris4/inst_MapResource.(MapResource).xdb
map = /Maps/Ferris4/inst2_MapResource.(MapResource).xdb
map = /Maps/FerrisRaid/MapResource.xdb
# Безвременье
map = /Maps/ProceduralDungeon01/MapResource.xdb

## прайдены
map = /Maps/Inst_PridensStart/MapResource.xdb
map = /Maps/PridensStart/MapResource.xdb
#
map = /Maps/AstralDungeon04/MapResource.xdb
map = /Maps/AstralIsle60_UI08/MapResource.xdb
map = /Maps/AstralIsle71/MapResource.xdb
map = /Maps/AstralIsle38/MapResource.xdb
map = /Maps/AstralIsle07/MapResource.xdb
map = /Maps/ZC12/MapResource.xdb
map = /Maps/ZC12_Map02/MapResource.xdb
map = /Maps/Inst_ZoneContested12_Start/MapResource.xdb
map = /Maps/Inst_ZoneContested12_Start/AstralTrap_MapResource.(MapResource).xdb
map = /Maps/Inst_ZoneContested12_Start/Astral_MapResource.(MapResource).xdb
map = /Maps/ZC12_RiftInstance2/MapResource.xdb
map = /Maps/ZC12_RiftInstance3/MapResource.xdb
map = /Maps/ZC12_RiftInstance4/MapResource.xdb
map = /Maps/ZC12_RiftInstance5/MapResource.xdb
map = /Maps/ZC12_RiftInstance6/MapResource.xdb
map = /Maps/ZC12_RiftInstance7/MapResource.xdb
map = /Maps/ZC12_RiftInstance8/MapResource.xdb
map = /Maps/RiftDungeon1/MapResource.xdb
map = /Maps/RiftDungeon2/MapResource.xdb
map = /Maps/RiftDungeon3/MapResource.xdb
map = /Maps/RiftDungeon4/MapResource.xdb
map = /Maps/RiftDungeon5/MapResource.xdb
map = /Maps/RiftDungeon6/MapResource.xdb
map = /Maps/ArchBase_Raid/MapResource.xdb
