/nova-allods.iml
/.idea/*
/bin2/
/data/Packs/
/data/Mods/
/Personal/
/Profiles/
/localization/data/Bin/*
/data/.idea/data.iml
/localization/localization_ru/data/Bin/pack.loc
/data/.idea/libraries/MW_Isle06.xml
/data/.idea/misc.xml
/data/.idea/modules.xml
/data/.idea/vcs.xml
/localization/localization_ru/data/Bin/pack.loc
/bin/BuildBinaries.log
/ClearLog.txt
/Profiles/accountServer.cfg
/index.cfg
/data/Bin/file_list.log
/data/Bin/Maps_2nd_Circle_Ship.bin
/data/Bin/Maps_2ndCircle.bin
/data/Bin/Maps_2ndCircle_AC1.bin
/data/Bin/Maps_2ndCircle_AC2.bin
/data/Bin/Maps_2ndCircle_AC3.bin
/data/Bin/Maps_2ndCircle_Goblinoball_New.bin
/data/Bin/Maps_AI_Qzone.bin
/data/Bin/Maps_ArchBase_Raid.bin
/data/Bin/Maps_ArchipelagoContested4.bin
/data/Bin/Maps_ArchipelagoContested5.bin
/data/Bin/Maps_ArchipelagoContested6.bin
/data/Bin/Maps_ArchipelagoContested7.bin
/data/Bin/Maps_ArchipelagoContested8.bin
/data/Bin/Maps_ArchipelagoContested8_inst.bin
/data/Bin/Maps_ArchipelagoContested9.bin
/data/Bin/Maps_ArchipelagoContested9_build_instance.bin
/data/Bin/Maps_ArchipelagoContested9_Tep_Island.bin
/data/Bin/Maps_ArchipelagoGipatsShard.bin
/data/Bin/Maps_AstralDungeon01.bin
/data/Bin/Maps_AstralDungeon02.bin
/data/Bin/Maps_AstralDungeon03.bin
/data/Bin/Maps_AstralDungeon04.bin
/data/Bin/Maps_AstralDungeon05.bin
/data/Bin/Maps_AstralDungeon06.bin
/data/Bin/Maps_AstralDungeon07.bin
/data/Bin/Maps_AstralHangar.bin
/data/Bin/Maps_AstralHangarHadagan.bin
/data/Bin/Maps_AstralHangarHadagan_VIP.bin
/data/Bin/Maps_AstralHangarLeague.bin
/data/Bin/Maps_AstralHangarLeague_VIP.bin
/data/Bin/Maps_AstralIsle01.bin
/data/Bin/Maps_AstralIsle02.bin
/data/Bin/Maps_AstralIsle03.bin
/data/Bin/Maps_AstralIsle04.bin
/data/Bin/Maps_AstralIsle05.bin
/data/Bin/Maps_AstralIsle06.bin
/data/Bin/Maps_AstralIsle07.bin
/data/Bin/Maps_AstralIsle08.bin
/data/Bin/Maps_AstralIsle09.bin
/data/Bin/Maps_AstralIsle10.bin
/data/Bin/Maps_AstralIsle11.bin
/data/Bin/Maps_AstralIsle12.bin
/data/Bin/Maps_AstralIsle13.bin
/data/Bin/Maps_AstralIsle14.bin
/data/Bin/Maps_AstralIsle15.bin
/data/Bin/Maps_AstralIsle16.bin
/data/Bin/Maps_AstralIsle17.bin
/data/Bin/Maps_AstralIsle18.bin
/data/Bin/Maps_AstralIsle19.bin
/data/Bin/Maps_AstralIsle20.bin
/data/Bin/Maps_AstralIsle21.bin
/data/Bin/Maps_AstralIsle22.bin
/data/Bin/Maps_AstralIsle23.bin
/data/Bin/Maps_AstralIsle24.bin
/data/Bin/Maps_AstralIsle25.bin
/data/Bin/Maps_AstralIsle26.bin
/data/Bin/Maps_AstralIsle27.bin
/data/Bin/Maps_AstralIsle28.bin
/data/Bin/Maps_AstralIsle29.bin
/data/Bin/Maps_AstralIsle30.bin
/data/Bin/Maps_AstralIsle31.bin
/data/Bin/Maps_AstralIsle32.bin
/data/Bin/Maps_AstralIsle33.bin
/data/Bin/Maps_AstralIsle34.bin
/data/Bin/Maps_AstralIsle35.bin
/data/Bin/Maps_AstralIsle36.bin
/data/Bin/Maps_AstralIsle37.bin
/data/Bin/Maps_AstralIsle38.bin
/data/Bin/Maps_AstralIsle39.bin
/data/Bin/Maps_AstralIsle40.bin
/data/Bin/Maps_AstralIsle41.bin
/data/Bin/Maps_AstralIsle42.bin
/data/Bin/Maps_AstralIsle43.bin
/data/Bin/Maps_AstralIsle44.bin
/data/Bin/Maps_AstralIsle45.bin
/data/Bin/Maps_AstralIsle46.bin
/data/Bin/Maps_AstralIsle47.bin
/data/Bin/Maps_AstralIsle48.bin
/data/Bin/Maps_AstralIsle49.bin
/data/Bin/Maps_AstralIsle50.bin
/data/Bin/Maps_AstralIsle51.bin
/data/Bin/Maps_AstralIsle52.bin
/data/Bin/Maps_AstralIsle53_UI01.bin
/data/Bin/Maps_AstralIsle54_UI02.bin
/data/Bin/Maps_AstralIsle55_UI03.bin
/data/Bin/Maps_AstralIsle56_UI04.bin
/data/Bin/Maps_AstralIsle57_UI05.bin
/data/Bin/Maps_AstralIsle58_UI06.bin
/data/Bin/Maps_AstralIsle59_UI07.bin
/data/Bin/Maps_AstralIsle60_UI08.bin
/data/Bin/Maps_AstralIsle61.bin
/data/Bin/Maps_AstralIsle62.bin
/data/Bin/Maps_AstralIsle63.bin
/data/Bin/Maps_AstralIsle64.bin
/data/Bin/Maps_AstralIsle65.bin
/data/Bin/Maps_AstralIsle66.bin
/data/Bin/Maps_AstralIsle67.bin
/data/Bin/Maps_AstralIsle68.bin
/data/Bin/Maps_AstralIsle69.bin
/data/Bin/Maps_AstralIsle71.bin
/data/Bin/Maps_AstralIsleBoss.bin
/data/Bin/Maps_AstralOutpostHadagan.bin
/data/Bin/Maps_AstralOutpostKania.bin
/data/Bin/Maps_BarberShop.bin
/data/Bin/Maps_DeathRealm.bin
/data/Bin/Maps_Domination.bin
/data/Bin/Maps_Domination02.bin
/data/Bin/Maps_Domination03.bin
/data/Bin/Maps_Domination04.bin
/data/Bin/Maps_ElementalPlateu.bin
/data/Bin/Maps_EP_Volcano.bin
/data/Bin/Maps_Ferris.bin
/data/Bin/Maps_Ferris4.bin
/data/Bin/Maps_Ferris_indoor.bin
/data/Bin/Maps_Ferris_inst.bin
/data/Bin/Maps_Ferris_intro.bin
/data/Bin/Maps_FerrisRaid.bin
/data/Bin/Maps_Hadagan.bin
/data/Bin/Maps_Hadagan_AE1.bin
/data/Bin/Maps_Hadagan_AE2.bin
/data/Bin/Maps_Hadagan_AE3.bin
/data/Bin/Maps_Hadagan_E3_Miniinst.bin
/data/Bin/Maps_Hadagan_Sanatorium.bin
/data/Bin/Maps_Hadagan_Underground.bin
/data/Bin/Maps_HaloIsle.bin
/data/Bin/Maps_HuntingGround1.bin
/data/Bin/Maps_HuntingGround2.bin
/data/Bin/Maps_HuntingGround3.bin
/data/Bin/Maps_HuntingGround4.bin
/data/Bin/Maps_HuntingGround5.bin
/data/Bin/Maps_HuntingGround6.bin
/data/Bin/Maps_HuntingGround7.bin
/data/Bin/Maps_HuntingGround8.bin
/data/Bin/Maps_IllusionWorld.bin
/data/Bin/Maps_IllusionWorld_Inst.bin
/data/Bin/Maps_Inst_DeadCity.bin
/data/Bin/Maps_Inst_Empire1End.bin
/data/Bin/Maps_Inst_EmpireStart.bin
/data/Bin/Maps_Inst_GipatCave.bin
/data/Bin/Maps_Inst_GurluhsorTower.bin
/data/Bin/Maps_Inst_HeroesArena.bin
/data/Bin/Maps_Inst_LeagueStart.bin
/data/Bin/Maps_Inst_Liga1End.bin
/data/Bin/Maps_Inst_Liga3End.bin
/data/Bin/Maps_Inst_miniTenzisTemple_Empire.bin
/data/Bin/Maps_Inst_miniTenzisTemple_League.bin
/data/Bin/Maps_Inst_PlagueCastle.bin
/data/Bin/Maps_Inst_PridensStart.bin
/data/Bin/Maps_Inst_SecretLab.bin
/data/Bin/Maps_Inst_TenzisTemple.bin
/data/Bin/Maps_Inst_TepPyramid.bin
/data/Bin/Maps_Inst_TkaRika.bin
/data/Bin/Maps_Inst_ZoneContested12_Start.bin
/data/Bin/Maps_Kania.bin
/data/Bin/Maps_Kania_AL1.bin
/data/Bin/Maps_Kania_AL2.bin
/data/Bin/Maps_Kania_AL3.bin
/data/Bin/Maps_LastStand.bin
/data/Bin/Maps_MainMenu.bin
/data/Bin/Maps_Maze_KHD.bin
/data/Bin/Maps_MM_Pvp_Arena.bin
/data/Bin/Maps_MW_Isle01.bin
/data/Bin/Maps_MW_Isle02.bin
/data/Bin/Maps_MW_Isle03.bin
/data/Bin/Maps_MW_Isle04.bin
/data/Bin/Maps_MW_Isle05.bin
/data/Bin/Maps_MW_Isle06.bin
/data/Bin/Maps_MW_RaidIsle01.bin
/data/Bin/Maps_PetRealm.bin
/data/Bin/Maps_PlayerIsle_Dungeon.bin
/data/Bin/Maps_PlayerIsle_Observation.bin
/data/Bin/Maps_PlayersAllod01.bin
/data/Bin/Maps_PlayersAllod02.bin
/data/Bin/Maps_PlayersAllod03.bin
/data/Bin/Maps_PridensStart.bin
/data/Bin/Maps_ProceduralDungeon01.bin
/data/Bin/Maps_PvP_Tournament.bin
/data/Bin/Maps_PvPArena01.bin
/data/Bin/Maps_PvPArena01_1.bin
/data/Bin/Maps_PvPArena02.bin
/data/Bin/Maps_PvPArena03.bin
/data/Bin/Maps_RealWorld.bin
/data/Bin/Maps_Remort.bin
/data/Bin/Maps_RiftDungeon1.bin
/data/Bin/Maps_RiftDungeon2.bin
/data/Bin/Maps_RiftDungeon3.bin
/data/Bin/Maps_RiftDungeon4.bin
/data/Bin/Maps_RiftDungeon5.bin
/data/Bin/Maps_RiftDungeon6.bin
/data/Bin/Maps_SettingSelectZone.bin
/data/Bin/Maps_ShipMenu.bin
/data/Bin/Maps_SoloShipMap_01.bin
/data/Bin/Maps_SoloShipMap_02.bin
/data/Bin/Maps_SoloShipMap_03.bin
/data/Bin/Maps_SummerBoss.bin
/data/Bin/Maps_Tropical_Atoll.bin
/data/Bin/Maps_TWarArena.bin
/data/Bin/Maps_TWars2_Isle_01.bin
/data/Bin/Maps_Umoir.bin
/data/Bin/Maps_UmoirIsland01.bin
/data/Bin/Maps_UmoirIsland02.bin
/data/Bin/Maps_UmoirIsland03.bin
/data/Bin/Maps_UmoirIsland04.bin
/data/Bin/Maps_UmoirIsland05.bin
/data/Bin/Maps_UmoirIsland06.bin
/data/Bin/Maps_UmoirIsland07.bin
/data/Bin/Maps_UmoirIsland08.bin
/data/Bin/Maps_UmoirMound.bin
/data/Bin/Maps_UmoirRaid.bin
/data/Bin/Maps_ZC4_Cave.bin
/data/Bin/Maps_ZC4_Isle01.bin
/data/Bin/Maps_ZC4_Isle02.bin
/data/Bin/Maps_ZC12.bin
/data/Bin/Maps_ZC12_Map02.bin
/data/Bin/Maps_ZC12_RiftInstance2.bin
/data/Bin/Maps_ZC12_RiftInstance3.bin
/data/Bin/Maps_ZC12_RiftInstance4.bin
/data/Bin/Maps_ZC12_RiftInstance5.bin
/data/Bin/Maps_ZC12_RiftInstance6.bin
/data/Bin/Maps_ZC12_RiftInstance7.bin
/data/Bin/Maps_ZC12_RiftInstance8.bin
/data/Bin/Maps_ZoneContested4.bin
/data/Bin/Maps_ZoneContested5.bin
/data/Bin/Maps_ZoneContested6.bin
/data/Bin/Maps_ZoneContested6_inst.bin
/data/Bin/pack.bin
