/nova-allods.iml
/.idea/*
/bin2/
/data/Bin/
/data/Packs/
/data/Mods/
/Personal/
/Profiles/
/localization/data/Bin/*
/data/.idea/data.iml
/localization/localization_ru/data/Bin/pack.loc
/data/.idea/libraries/MW_Isle06.xml
/data/.idea/misc.xml
/data/.idea/modules.xml
/data/.idea/vcs.xml
/localization/localization_ru/data/Bin/pack.loc
/bin/BuildBinaries.log
/ClearLog.txt
/Profiles/accountServer.cfg
/index.cfg
